<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do</string>
	<string>Re</string>
	<string>Mi</string>
	<string>Fa</string>
	<string>So</string>
	<string>La</string>
	<string>Ti</string>
	<string>Do</string>
</array>
</plist>
